@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}

@mixin section {
  box-sizing: border-box;
  position: relative;

  height: 100vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  color: white;
}

.intro {
  padding: 4rem;
  @include section;

  h1 {
    font-size: 5rem;
  }

  div {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }
}

.skills {
  padding: 2rem;
  @include section;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  .cards {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    &:hover div:nth-child(1) {
      transform: translate(100%, -80%) rotate(-15deg);
    }

    &:hover div:nth-child(2) {
      transform: translate(80%, 85%) rotate(15deg);
    }

    &:hover div:nth-child(3) {
      transform: translate(-100%, -85%) rotate(15deg);
    }

    div {
      transition: transform 800ms cubic-bezier(0.02, 0.51, 0.18, 1.01);

      position: absolute;
      flex: 1 1 0%;
      width: 8rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      padding: 0.3rem;

      // border: 2px solid white;
      border-radius: 10%;
      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

      aspect-ratio: 1;

      background-color: black;
    }
  }
}

.works {
  @include section;
  align-items: flex-end;
  justify-content: center;

  .card {
    position: relative;
    aspect-ratio: 1/1;
    width: 20rem;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3rem;
    }
  }
}
